#topbar a{
    padding-left: 10px;
}
a{
    text-decoration:none;
}
#topbar {
    border-bottom: 1px solid black
}
#content_box_container{
    display:inline-block;
    border: 1px solid black;
}
#content_box{
    text-align:left;
    border-right: 1px solid black;
}
#sitemap {
    float:right;
}
#content_title{
    border-bottom: 1px solid black;
}
#NoJS{
    position:fixed;
    left: 0;
    bottom: 0;
}
